<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.melato.bus.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".activity.RoutesActivity"
            android:label="@string/routes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScheduleActivity"
            android:label="@string/schedule" >
        </activity>
        <activity
            android:name=".activity.SchedulesActivity"
            android:label="@string/all_schedules" >
        </activity>
        <activity
            android:name=".activity.StopsActivity"
            android:label="@string/stops" >
        </activity>
        <activity
            android:name=".activity.NearbyActivity"
            android:label="@string/nearby" >
        </activity>        
        <activity
            android:name=".activity.RouteMapActivity"
            android:label="@string/map" >
        </activity>
        <activity
            android:name=".map.AllMapActivity"
            android:label="@string/map" >
        </activity>
        <activity
            android:name=".activity.StopActivity"
            android:label="@string/stop" >
        </activity>
        <activity
            android:name=".update.UpdateActivity"
            android:label="@string/available_updates" >
        </activity>
        <activity
            android:name=".track.TrackActivity"
            android:label="@string/track" >
        </activity>
        </application>

</manifest>